{% extends 'layout.html'%}{%block title %} About {% endblock %}{%block content%}
<div id="about" class="about-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-image wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img src="{{ url_for('static', filename='assets/images/Toko.jpeg') }}" alt="" />
                </div>
            </div>
            <div class="col-lg-6 align-self-center wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <div class="section-heading">
                    <h6>Profil</h6>
                    <h2>Toko <em>Bebek</em> Murah </h2>

                    <p class="lanjut">
                        Bebek Murah adalah sebuah usaha di bibidang kuliner yang didirikan oleh Bapak Andif Riyanto, bebek murah ini memiliki 7 cabang yang salah satunya berada di Jl. Tirto Agung No. 50, Pedalangan, Kec. Banyumanik, Kota Semarang. Selain bebek goreng juga terdapat beberapa menu lainnya seperti ayam, lele dan beberapa minuman seperti teh dan jeruk.
                    </p>

                    <h2> Standart Operational <em>Manajemen</em></h2>
                    <br>

                
                    <ol class="urutan" type="1">
                        <li>1. Karyawan diperbolehkan mengajukan cuti maksimal 4 hari dalam sebulan</li><br>
                        <li>2. Dalam mengajukan cuti karyawan menyampaikan permohonan izin cuti kepada supervisor </li><br>
                        <li>3. Karyawan diharuskan tiba di outlet minimal 1 jam sebelum jam operasional</li><br>
                        <li>4. Apabila karyawan terlambat hadir 5 menit setelah jam operasional maka akan dikenai sanksi berupa pemotongan gaji sebesar Rp 2.000, dan apabila karyawan terlambat lebih dari 1 jam maka akan dikenai SP (Surat Peringatan), apabila karyawan terlambat lebih dari 3 kali akan diberhentikan sebagai karyawan bebek murah</li><br>
                        <li>5. Karyawan diharuskan mengenakan seragam dan sepatu sesuai ketentuan yang telah ditetapkan</li><br>
                        <li>6. Karyawan diberikan kebijakan asset Perusahaan berupa uang sejumlah Rp 2.500.000 untuk modal pengeluaran di luar bahan baku dalam sehari. Apabila dalam sehari tidak tercapai pengembalian modal, maka akan dicatat sebagai saldo minus. Dengan ketentuan, di kemudian hari saldo minus dapat ditutup dengan pendapatan yang melebihi modal.</li>
                    </ol>
                

                <br>
                <br>

                    <h2>Standard Operasional <em>Prosedure</em></h2>
                    <br>

                    <ol class="urutan">
                        <li>1. Supervisor melakukan pengawasan secara rutin terhadap persediaan bahan baku, kemudian mencatat dan menghitung persediaan bahan baku serta memperkirakan jumlah bahan baku yang diperlukan minimal dua kali dalam sehari</li>
                        <li>2. Supervisor melakukan konfirmasi kepada pihak supplier mengenai banyaknya persediaan bahan baku yang dibutuhkan</li>
                        <li>3. Setelah bahan baku tiba, supervisor melakukan pemeriksaan dan penyortiran bahan baku sebelum digunakan </li>
                        <li>4. Dalam proses produksi dilaksanakan dengan cara yang terstruktur dan sistematis. Setiap langkah produksi dilaksanakan dengan mempertimbangkan kebersihan</li>
                        <li>5. Produk disajikan dengan cara aman, efisien dan rapi</li>
                        <li>6. Produk dipantau secara terus menerus untuk memastikan kualitas yang tinggi. Setiap produk yang tidak memenuhi standar kualitas tidak disajikan ke pelanggan</li>
                        <li>7. Laporan data produksi harian disajikan kepada supervisor, laporan ini membantu dalam evaluasi proses produksi dan identifikasi area untuk perbaikan.</li>
                    </ol>
                
                    

                </div>
            </div>
        </div>
    </div>
</div>
{%endblock %}